.container_comic {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem;

  p {
    font-size: 1.2rem;
  }
}

.comic_info_wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

.img_comic {
  height: auto;
  width: 400px;
}

.creators {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 1fr 1fr;
  padding: 1rem 0;
}

.title {
  padding: 0 0 1rem 0;
}
