@import '../../vars.scss';

.container_comic {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 3rem 2rem;

  p {
    font-size: 1.2rem;
  }
}

.comic_info_wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  width: 400px;
}

.img_comic {
  height: auto;
  width: 400px;
}

.creators {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr;
  padding: 2rem 0;
}

.title {
  padding: 0 0 1rem 0;
}

.loading {
  display: grid;
  place-items: center;
  font-size: 5rem;
}

.links {
  display: flex;
  margin: 2rem 0;
}

@media screen and (max-width: 768px) {
  .comic_info_wrapper {
    padding: 2rem 0;
  }
}
