.btn {
  cursor: pointer;
  background-color: #ffffff;
  padding: 0.6rem 1.5rem;
  color: #141414;
  font-size: 1.1rem;
  font-weight: bold;
  border: none;
}

.btn:hover {
  background-color: #ed171e;
  color: #ffffff;
}
