@import '../../../vars.scss';

.btn {
  cursor: pointer;
  background-color: $base-white;
  padding: 0.6rem 1.5rem;
  color: $dark-black;
  font-size: 1.1rem;
  font-weight: bold;
  border: none;
  transition: 0.3s ease-in-out;
  &:hover {
    transition: 0.3s ease-in-out;
    background-color: $base-red;
    color: $base-white;
  }
}
