@import '../../vars.scss';

.search_bar {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  padding: 0 1rem 1rem 1rem;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2px;
  // width: 30rem;
  margin: 2rem 0;
}

.input {
  background-color: $base-white;
  flex-grow: 2;
  border: none;
  height: 3rem;
  font-size: 1.7rem;
  border-radius: 0 0.7rem 0.7rem 0;
  padding: 0 1rem;
  outline: 0;
}

// .input:focus {
//   border: solid 1px $base-red;
//   border-color: $base-red;
// }

.btn_search {
  border: solid 2px $base-red;
  background-color: $base-red;
  border-radius: 0.7rem 0 0 0.7rem;
  padding: 0 1rem;
  color: $base-white;
}

@media screen and (max-width: 768px) {
  .input {
    width: 15rem;
  }
}
