@import '../../vars.scss';

.series_detail_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 3rem;
  p {
    font-size: 1.2rem;
  }
}

.title {
  padding: 0 0 2rem 0;
}

.img_series {
  // padding: 0 2rem 2rem 0;
  img {
    border: solid 2px $base-gold;
    height: auto;
    width: 400px;
  }
}

.series_info {
  padding: 0 2rem;
  width: 400px;
  li {
    list-style: none;
  }
}

.comics {
  padding: 1rem 0 0.6rem 0;
  font-size: 2rem;
}

.link_comic {
  color: $base-white;
  text-decoration: none;
  font-size: 1.2rem;
  &:hover {
    color: $dark-white;
    text-decoration: underline;
  }
}

.links {
  display: flex;
  margin: 2rem 0;
}

@media screen and (max-width: 768px) {
  .series_detail_container {
    padding: 3rem 0rem;
  }
  .series_info {
    padding: 3rem 2rem;
  }

  .img_series {
    img {
      width: 100%;
    }
  }
}
