@import '../../vars.scss';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: $base-black;
  height: 4rem;
  z-index: 100;
}

.navbar_menu ul {
  display: flex;
}

.navbar_menu li {
  list-style: none;
  margin: 0 2rem;
}

.link {
  color: $dark-white;
  text-decoration: none;
  font-size: 1.3rem;
}

.active {
  color: $base-white;
  text-decoration: underline;
  // margin: 1rem;
  // text-decoration: none;
  // font-size: 1.3rem;
  // cursor: pointer;
}

.img_logo {
  height: 4rem;
}

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: $base-white;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}
.hamburger:hover {
  background-color: $base-red;
  color: $base-white;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .navbar_menu ul {
    display: none;
    position: absolute;
    top: 3.7rem;
    left: 0;
    flex-direction: column;
    width: 100%;
    background-color: rgba($color: $base-black, $alpha: 0.8);
  }

  .navbar_menu li {
    text-align: center;
    margin: 0;
    padding: 1rem;
  }

  .navbar_menu li a {
    color: $base-white;
    width: 100%;
    padding: 1.5rem 0;
  }
  .navbar_menu li:hover {
    background-color: $light-black;
  }

  .navbar_menu.expanded ul {
    display: block;
  }
}
