@import '../../vars.scss';

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 4rem;
  // margin: 1rem 0 2rem 0;
  padding: 2rem;
}

.links {
  margin: 0.7rem 0;

  a {
    padding: 0.7rem;
    color: $base-white;
  }
  a:hover {
    text-decoration: none;
    color: $dark-white;
  }
}

.data {
  padding: 0 0 0.7rem 0;
}

.link_portfolio a {
  color: $base-white;
  // text-decoration: none;
  &:hover {
    text-decoration: none;
    color: $dark-white;
  }
}
