body {
  /* height: 100vh; */
  background-color: #141414;
  /* background-image: url("/src/images/marvel-comics.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
