@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Barlow+Condensed:wght@300;400;600;700&family=Roboto:wght@400;500;700&display=swap');

@import './vars.scss';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Barlow Condensed', sans-serif;
  // height: 100vh;
  background-color: $base-black;
  /* background-image: url("/src/images/marvel-comics.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: $base-white;
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}
