.container_character {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 3rem 2rem;

  p {
    font-size: 1.2rem;
  }
}

.img_character_detail {
  // height: auto;
  max-height: 600px;
  width: 400px;
  border-radius: 50px 100px 50px 100px;
  border: solid 2px goldenrod;

  // margin: 0 0 2rem 0;
}

.character_info {
  padding: 0 2rem;
  width: 40%;
  li {
    list-style: none;
  }
}

.character_name {
  font-size: 3rem;
  margin: 0 0 1rem 0;
}

.links {
  display: flex;
  margin: 2rem 0;
}

.comics {
  padding: 1rem 0 0.6rem 0;
  font-size: 2rem;
}

.link_comic {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2rem;
  &:hover {
    color: #e5e5e5;
    text-decoration: underline;
  }
}

@media screen and (max-width: 768px) {
  .character_info {
    padding: 2rem 0;
    width: 100%;
  }
}
