.container_character {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  padding: 3rem;
  p {
    font-size: 1.2rem;
  }
}

.img_character_detail {
  img {
    border-radius: 50px 100px 50px 100px;
    border: solid 2px goldenrod;
    height: auto;
    width: 400px;
  }
  margin: 0 0 2rem 0;
}

.character_info {
  padding: 0 2rem;
  width: 400px;
}

.character_name {
  font-size: 3rem;
  margin: 0 0 1rem 0;
}

.description {
  font-size: 1.7rem;
  margin: 0 0 0.5rem 0;
}

.links {
  display: flex;
  margin: 2rem 0;
}
