.container_character {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 3rem 2rem;

  p {
    font-size: 1.2rem;
  }
}

.img_character_detail {
  height: auto;
  width: 400px;
  border-radius: 50px 100px 50px 100px;
  border: solid 2px goldenrod;

  // margin: 0 0 2rem 0;
}

.character_info {
  padding: 0 2rem;
  width: 40%;
}

.character_name {
  font-size: 3rem;
  margin: 0 0 1rem 0;
}

.links {
  display: flex;
  margin: 2rem 0;
}
