@import '../../vars.scss';

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60vh;
  font-size: 1.7rem;
}

.err_msg {
  margin-bottom: 2rem;
}
